<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebSiteFrontEnd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<!--<system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="~/webforms/Erro.aspx"></customErrors>
		<sessionState timeout ="30" ></sessionState>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

		<authentication mode="Forms">
			<forms loginUrl="/webforms/Login.aspx" defaultUrl="/webforms/MinhaConta.aspx" />
		</authentication>
		<httpRuntime requestValidationMode="2.0" />

	</system.web>-->
	

   <system.web>

	   <customErrors mode="Off" />
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

        <authentication mode="Windows">
            <forms defaultUrl="/webforms/MinhaConta.aspx" loginUrl="/webforms/Redirect-Login.aspx" />
        </authentication>


        <httpRuntime requestValidationMode="2.0" />
        <identity impersonate="false" password="Uv@i@*3523" userName="uvaia" />

    </system.web>

    <!-- Log4Net Inicio -->
    <log4net>
        <!--O Appender abaixo criara um arquivo de log diariamente -->
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="AppLogs//Log" />
            <param name="AppendToFile" value="true" />
            <param name="DatePattern" value="-yyyy.MM.dd.LOG" />
            <param name="RollingStyle" value="Date" />
            <param name="StaticLogFileName" value="false" />
            <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c %m %n" />
            </layout>
        </appender>
        <logger name="LogInFile">
            <!--O nivel de log que será incluido no appender -->
            <level value="All" />
            <!--Utilizando qual appender -->
            <appender-ref ref="LogFileAppender" />
        </logger>
    </log4net>
    <!-- Log4Net Fim -->

    <!-- <Restricoes> -->
    <location path="WebSite/Webforms/MinhaConta.aspx">
        <system.web>
            <authorization>
                <deny users="?"></deny>
            </authorization>
        </system.web>
    </location>
    <location path="WebSite/Webforms/AlteraDado.aspx">
        <system.web>
            <authorization>
                <deny users="?"></deny>
            </authorization>
        </system.web>
    </location>
    <location path="WebSite/Webforms/GerenciarEmails.aspx">
        <system.web>
            <authorization>
                <deny users="?"></deny>
            </authorization>
        </system.web>
    </location>
    <location path="WebSite/Webforms/ConsultarHistorico.aspx">
        <system.web>
            <authorization>
                <deny users="?"></deny>
            </authorization>
        </system.web>
    </location>
    <location path="WebSite/Webforms/ContratarServico.aspx">
        <system.web>
            <authorization>
                <deny users="?"></deny>
            </authorization>
        </system.web>
    </location>
    <!-- </Restricoes> -->

    <appSettings>


     	<!-- Conexao do banco >-->
	<add key="EvimailContext" value="Data Source=200.98.220.34\MSSQLSERVERR2;Initial Catalog=evimail;User ID=EvimailProd;Password=evimail@conexao" />

        <add key="DateMinValue" value="01/01/1753" />
        <add key="DateMaxValue" value="31/12/9999" />
        <add key="ModoDebug" value="1" />

        <add key="Ambiente" value="1" />

        <add key="NomeResource" value="Evimail" />
        <add key="IdiomaPadrao" value="pt-BR" />
        <add key="NomeCookieIdioma" value="idioma" />

        <add key="EmailFrom" value="contato@evimail.com.br" />
        <add key="NomeFrom" value="Evimail" />
        <add key="SMTPServer" value="127.0.0.1" />

        <add key="EnderecoSite" value="http://www.evimail.com.br/" />
        <add key="EnderecoImagens" value="http://www.evimail.com.br/img" />
        <add key="EnderecoTemplateEmail" value="D:\Internet\wwwroot\Evimail\WebSite\email\email-confirmacao.htm" />
        <add key="EnderecoSiteUvaia" value="http://www.uvaia.com.br/" />
        <add key="EmailContato" value="evimail@evimail.com.br" />
        <add key="CaminhoArquivo" value="D:\Internet\wwwroot\Evimail\Website\" />
        <add key="CaminhoPDFPedido" value="D:\Internet\wwwroot\Evimail\Website\PDFPedido\" />
	<!--<add key="winnovative" value="KAMZCBkIGAgfBhgIGBoGGBEGGhgZGQ=="/>-->


        <add key="CnpjEvimail" value="07931336000117" /> <!--23273352000116-->
	
        <add key="cielo_Estabelecimento" value="1030208775" />

        <add key="cielo_Chave" value="306b13eccfeabe72121ea8f611e36ae593b0be0609db4db3216715232d5cd174" />
        <add key="cielo_Autorizar" value="3" />
        <add key="cielo_UrlRequisicao" value="https://ecommerce.cbmp.com.br/servicos/ecommwsec.do" />
        <add key="cielo_UrlRetorno" value="http://www.evimail.com.br/webforms/confirmacaopedido.aspx" />
        <!--<add key="WebSiteFrontEnd_wsUvaiaIntegracao_Integracao" value="http://www.uvaia.com.br/wsIntegracao/integracao.asmx" />-->
        <add key="cielo_Capturar" value="true" />
        <add key="cielo_Produto" value="1" />
    </appSettings>

    <applicationSettings>
        <WebSiteFrontEnd.My.MySettings>
            <setting name="WebSiteFrontEnd_wsUvaiaIntegracao_Integracao" serializeAs="String">
                <value>http://www.uvaia.com.br/wsIntegracao/integracao.asmx</value>
            </setting>
        </WebSiteFrontEnd.My.MySettings>
    </applicationSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>