/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		ALL BROWSER RESET
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

html, body { height: 100%; }
img { margin: 0; padding: 0; border: 0; outline: 0; }
body { color: #6e6a6a; background: #ffffff; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
strong { font-weight: bold; }
em { font-style: italic; }
button { background: none; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
input, select { font-family: 'Trebuchet MS' , Arial; font-size: 11px; color: #666; }
textarea { width: 300px; font-family: 'Trebuchet MS' , Arial; font-size: 11px; color: #666; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {  border-spacing: 0; }


/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BASICS STYLES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body { font-family: 'Trebuchet MS' , Arial; font-size: 13px; color: #4e4e4e; background: url('img/bkg-body.gif' ); }

h1 { position: absolute; top: 38px; left: 44px; }
h1 a { background: url('img/h1-cnc.png' ) no-repeat 0 0; width: 319px; height: 58px; display: block; text-indent: -9999px; }
a { text-decoration: none; cursor: pointer; color: #6e6a6a; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
#container { background: #fff url(   'Imagens/bkg-container.gif' ) repeat-y 0 0; overflow: hidden; }
#header { height: 93px; background: #6C7783 url('Imagens/bkg-header.gif') repeat 0 0; position: relative; }
#header h1 { position: absolute; top: 2px; left: 44px; background: url('Imagens/h1.png' ) no-repeat 0 0; height: 85px; }
#header h1 a { width: 95px; height: 100%; display: block; float: left; text-indent: -9999px; margin-right: 10px; }
#header h1 span { margin: 35px 0 0; display: block; color: #fff; font-size: 25px; font-weight: bold; margin-left: 200px; }
#footer { height: 52px; background-color: rgb(108, 119, 131); clear: both; }
#footer p { text-align: center; color: #fff; font-size: 1.08em;}
#footer p a { color: #000;}

.menu { float: left; width: 160px; padding: 15px 10px; text-align: left; height: 100%; font-family: 'Trebuchet MS' , Arial; min-height:600px; height:auto;}
/* for Internet Explorer */
/*\*/
* html .menu {
height: 600px;
}
/**/



.menu .titulo { color: #666666; }
.menu li { padding: 10px; background: transparent url(   'Imagens/sep-box-menu.gif' ) repeat-x scroll 0 bottom; }
.menu li.menu_item { background: transparent url(   'Imagens/bullet-01.gif' ) no-repeat scroll 0 10px; font-size: 13px; padding: 5px 0 5px 10px; color: #929191; }

/*
body.template { font-size: 75%; color: #666666; background: url(   'Imagens/menu_fundo.gif' ) repeat-y #eee; }
body.template h1 { font-size: 2.4em; font-family: 'Futura Lt BT' , Tahoma, Sans-Serif; color: #E6EEF9; }
body.template h1 a { text-decoration: none; color: #E6EEF9; font-weight: normal; }
body.template h1 span { font-size: .81em; }
span.allcaps { font-variant: small-caps; }
body.template h2 { padding: 0; margin: 0 0 0 0; font-family: Trebuchet MS, Arial, sans-serif; font-size: 1.65em; color: #888888; }
div.back { margin-bottom: -20px; position: relative; top: -28px; padding-left: 5px; padding-bottom: 5px; }
div.back img { position: relative; margin-top: 0em; padding-left: 8px; padding-right: 8px; border: none; background-color: #ffffff; }
div.back a:link, div.back a:visited { color: #839ce7; text-decoration: none; background-color: #ffffff; padding-right: 8px; top: -.2em; left: .25em; }
div.back a:hover { color: #000099; text-decoration: underline !important; }
*/
/* End: General */

/* Begin: Tables */
table td.bold { font-weight: bold; }

table.listview, table.gridview { border: 1px solid #ccc; border-bottom: 3px solid #ccc; border-collapse: collapse; color: #666666; }

table.listview th, table.gridview th, table.detailstable th, table.listview td, table.gridview td { padding: .5em; line-height: 1.1em; }

table.detailstable td { padding: .5em; line-height: 1.1em; text-align: left; border:1px solid #FFFFFF !important; border-collapse :collapse  !important}
table.detailstable td.bold { width: 10%; }

table.table_relacionar td div {width:320px!important;}
table.table_relacionar td div.botoes_adicionar_remover{width:100px!important; height:50px;}
table.table_relacionar td div.botoes_adicionar_remover .botao_link{width:80px}

table.detailstable { border-bottom: 1px solid #ccc; border-collapse: collapse; color: #666666; width: 100%; margin-bottom:10px }
/*table.detailstable input[type='text'], table.detailstable select { width: 500px; padding: 5px; font-size: 16px; border: 1px solid #999; }
table.detailstable input[type='password'] { width: 150px; padding: 5px; font-size: 16px; border: 1px solid #999; }
*/
table.listview th, table.gridview th, table.detailstable th { background-position: 1px 1px; background-repeat: repeat-x; font-weight: bold; text-align: left; line-height: 1.3em; color: #666666; border-left: none; border-right: none; border-bottom: 1px solid #ccc; }

table.listview td, table.gridview td, table.detailstable td { border-left: 0px; border-right: 0px; border-bottom: 1px solid #dadada; }

table.gridview { width: 100%; }
table.gridview th { background-color:#E0E4E7; }
table.gridview td { padding-left: .5em; padding-right: .5em; }

.botao_link { border:1px solid #6C7783; color: #ffffff; background: #6C7783; background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#6C7783));     background: -moz-linear-gradient(top,  #EDEDED,  #6C7783); padding: 5px 5px; font: bold 1.1em Arial; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-right: 10px; cursor: pointer; }


.filtros td { padding: .5em; line-height: 1.1em; }

fieldset p { clear: both; margin-bottom: 5px; }

.field{padding-bottom:10px}
.field span {display:inline-block; width: 50px;}

.field2 {padding-bottom:10px}
.field2 span {display:inline-block; width: 100px;}

.field3 {padding-bottom:10px}
.field3 span {display:inline-block; width: 140px;}


.field4 {padding-bottom:10px}
.field4 span {display:inline-block; width: 160px; padding:10px 0;}

/*
table.listview { width: 100%; }
table.listview td a:link, table.listview td a:visited { font-size: 100%; }
table.listview table td { padding-left: .5em; padding-right: .5em; }
table.listview th { background-image: url(/DynamicData/Content/Images/header_back.gif); }
table.detailstable td { background: #E1E1E1; }
table.detailstable th { background: #FCFDFE; vertical-align: top; }*/

td.nowrap, td .nowrap { white-space: nowrap; }
/* The following modifies the details table */
table.gridview tr { background: #FFF; }
/* The following modifies the controls in the list table footer */
tr.footer td { background: #fff; height: 1.5em; }
/* The following modifies the selected row in the list table */
tr.selected td { background: #fdffb8; }
/* End: Tables */

div.botoes {height:50px;padding:10px 0;}

/* The following modifies the page number control which exists under the main table */
div.pager { padding: 0px; padding-left: 6px; padding-right: 6px; }
span.results1 { float: left; }
span.results2 { float: right; }
span.results2 .droplist { width: auto; }
/* The following modifies the results per page control which exists under the main table */
div.results { display: inline; position: relative; padding: 0px; padding-left: 6px; padding-right: 6px; margin-top: -1.75em; float: right; }

/* Bottom hyperlink design*/
div.bottomhyperlink { margin-left: 10px; margin-top: -3px; margin-bottom: 15px; }
div.bottomhyperlink a { display: block; color: #333; text-decoration: none; font: bold 12px "Lucida Sans" , "Lucida Sans Unicode" ,Arial; text-indent: -9999px; background: url(imagens/btnAdicionarNovoItem.gif) no-repeat; width: 150px; height: 16px; }
.filtros { width: 100%; display: block; }
.div_Filtros { padding: 0px 5px 5px 5px; margin:0 10px; }
.div_Filtros p{ margin-bottom:15px}
.div_Filtros p span:first-child{display:inline-block; width:150px;}

/* elemetos formulario */
label { font-weight: bold; }
.textbox, textarea.textbox { padding: 3px; border: 1px solid #999; font-size: 12px; width: 300px; font-family: 'Trebuchet MS' , Arial; font-size: 11px; color: #666; }
.textbox:hover { background-color: #FEF8E0; }
.textbox.dateTime { width: 65px; }

.textbox input[type=text],
.textbox select {border:none; font-size: 12px; width: 300px; font-family: 'Trebuchet MS' , Arial; font-size: 11px; color: #666;}
/* Set's the appearance of the drop down control*/
.droplist { padding: 2px; font-size: 11px; width: 310px; font-size: 11px; color: #4e4e4e; }
.droplist span { float:left; width:100% }
/*.droplist:hover { background-color: #FEF8E0; }*/

/*-----------------------------LoginPage----------------------------*/

#login_wraper { width: 702px; margin: 0 auto; padding: 0px; }
#login_main { width: 702px; margin: 120px 0 0 0; padding: 0px; float: left; background: url(imagens/logomarca.png) no-repeat; }
#login_form { width: 394px; height: 175px; margin: 79px 0 0 0; padding: 0px; float: left; border-right: #b3b3b3 dashed 1px; }
#login_form h2 { width: 347px; margin: 0px; padding: 0px; float: left; font-family: "Trebuchet MS"; font-size: 22px; line-height: 26px; color: #808080; font-weight: normal; text-align: right; }
#loginput_blank { width: 227px; margin: 0px; padding: 0 0 0 118px; float: left; }
#login_form input { width: 211px; height: 23px; margin: 22px 0 0 0; padding: 0 16px 0 0; float: left; font-family: "Trebuchet MS"; font-size: 16px; line-height: 20px; color: #808080; font-weight: normal; text-align: right; background: url(      'imagens/login_input.jpg' ); border: 0px; }
.validacao { padding: 20px; font-size: 12px; }
.tituloTooltip { font-size: 12px; }
#login_form p { width: 100px; margin: 25px 0 0 0; padding: 0 22px 0 29px; float: right; display: block; font-family: "Trebuchet MS"; font-size: 13px; line-height: 20px; color: #808080; }
#login_form p a { width: auto; margin: 0px; padding: 0px; float: left; font-family: "Trebuchet MS"; font-size: 13px; line-height: 20px; color: #808080; text-decoration: none; }
#login_form p a:hover { text-decoration: underline; }
#login_form p span { width: auto; margin: 0px; padding: 0 11px 0 11px; float: left; font-family: "Trebuchet MS"; font-size: 13px; line-height: 20px; color: #808080; }
.submit { width: 83px; height: 24px; margin: 20px 46px 0 0; padding: 5px 0 0 0; float: right; font-family: Tahoma; font-size: 14px; color: #FFFFFF; line-height: 18px; text-align: center; text-decoration: none; background: url(imagens/submit.jpg) no-repeat; }
#login_right { width: 250px; margin: 79px 0 0 0; padding: 0 0 0 39px; float: left; }
#login_right h2 { width: 250px; margin: 0px; padding: 0px; float: left; font-family: "Trebuchet MS"; font-size: 22px; line-height: 26px; color: #808080; font-weight: normal; }
#login_right p { width: 250px; height: 98px; margin: 15px 0 0 0; padding: 0px; float: left; font-family: "Trebuchet MS"; font-size: 12px; line-height: 16px; color: #808080; font-weight: normal; letter-spacing: -0.5px; }
#login_right a { width: auto; margin: 7px 0 0 0; padding: 0px; float: left; font-family: "Trebuchet MS"; font-size: 12px; line-height: 16px; color: #6fb7bc; font-weight: normal; text-decoration: none; }
#login_right a:hover { text-decoration: underline; }



/* #### MARLIN #### */

.content { margin-left: 180px; /*min-height: 700px;*/ padding: 10px 15px 45px 15px; }
.content h2 { font-weight: bold; font-size: 20px; font-family: Trebuchet MS Mincho, Arial; color: #606C77; border-style: solid; border-width: 0 0 2px 0; margin-bottom: 15px;}
.bread_crumb { padding: 10px 0; color: #9b9b9b; }
.bread_crumb .lblUsuario { color: #4E4E4E; }
.bread_crumb a { color: #9b9b9b; }
.bread_crumb .cur { color: #4E4E4E; font-weight: bold; }
.bread_crumb .logout { float: right; display: block; width: 52px; height: 13px; background: url(   'Imagens/btnFechar.gif' ) no-repeat 0 0; text-indent: -9999px; }
/*.title { height: 22px; padding: 15px; background: #E1E1E1 url(  'Imagens/backgroundFiltros.jpg' ) repeat-x; border-bottom: 1px solid #ccc; overflow: hidden; }*/

.title h2 { background: transparent url('imagens/bkg-h2-template.gif') repeat-x scroll 0 bottom; color: black; font-family: "Lucida Sans" , "Lucida Sans nicode" ,Arial; font-size: 20px; font-weight: normal; padding-bottom: 38px; }
.title h3 { color: #4E4E4E; font-family: "Lucida Sans" , "Lucida Sans Unicode" ,Arial; font-size: 14px; margin-bottom: 20px; font-weight:normal; margin-left:10px; }
.title a { float: right; background: url(Imagens/iconShowHide.gif) no-repeat; background-position: 0 0; padding: 0 20px 0 0; width: 20px; height: 19px; display: block; }
.title a.on { background-position: 0 -19px; }

fieldset {border-bottom:1px solid #CCCCCC;margin:12px 0;padding-bottom:10px;}
fieldset label { float: left; width: 200px; font-weight: bold; }
fieldset .files { display: block; margin: 5px 0 0 200px; }

.txt_saudacao { position: absolute; top: 10px; right: 20px; color: #fff; }

.interna { margin: 12px; }
/* #### */

/* vertical align - texto alinhado verticalmente no bloco */
/* aplicado no footer */
.v-outer { display: table; overflow: hidden; width: 100%; }
*:first-child + html .v-outer { position: relative; }
/*ie7*/
* html .v-outer { position: relative; }
/*ie6*/
.v-middle { display: table-cell; vertical-align: middle; }
*:first-child + html .v-middle { position: absolute; top: 50%; width: 100%; }
* html .v-middle { position: absolute; top: 50%; }
*:first-child + html .v-inner { position: relative; top: -50%; width: 100%; }
/*ie7*/
* html .v-inner { position: relative; top: -50%; width: 100%; }
/*ie6*/
/* end vertical align */



/*freetextbox
/*****************************/

.ctl00_ContentPlaceHolder1_txtTexto_OuterTable {
	width: 600px!important;
	background-color: #9EBEF5;
	border-collapse:separate!important;/**/
  padding:2px!important;
}

#ctl00_ContentPlaceHolder1_toolbarArea select {
	margin: 0px;
	padding: 0px;
	font: 11px Tahoma,Verdana,sans-serif;
}
#ctl00_ContentPlaceHolder1_toolbarArea img {
	display: block;
}
.ctl00_ContentPlaceHolder1_HtmlBox {

	width:90%!important;
}
.ctl00_ContentPlaceHolder1_txtTexto_TabOn,
.ctl00_ContentPlaceHolder1_txtTexto_TabOffRight,
.ctl00_ContentPlaceHolder1_txtTexto_TabOffLeft,
ctl00_ContentPlaceHolder1_txtTexto_Button_Off_Out{
cursor:pointer;/**/
}
.ctl00_ContentPlaceHolder1_txtTexto_DesignBox {

width:98% !important;

}

.ctl00_ContentPlaceHolder1_DesignBox {
	background-color: #FFFFFF;
	border: 0; 
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
.ctl00_ContentPlaceHolder1_DesignBox body {
	background-color: black;
}
.ctl00_ContentPlaceHolder1_Toolbar {
	margin-bottom: 1px; 
	margin-right: 2px;
	float: left;
	
}


.ctl00_ContentPlaceHolder1_Button_Off_Out {
	padding: 1px; 
	background-color: transparent;
}
.ctl00_ContentPlaceHolder1_Button_Off_Over {
	
	padding: 0px;
	border-top: 1px solid #000080;	
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;  
	background-color: #FFF4CC;
}
.ctl00_ContentPlaceHolder1_Button_On_Out {
	
	padding: 0px;
	border-top: 1px solid #000080;	
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;  
	background-color: #FFD58C;	
}
.ctl00_ContentPlaceHolder1_Button_On_Over {
	
	padding: 0px;
	border-top: 1px solid #000080;	
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;  
	background-color: #FE914E;
}


.ctl00_ContentPlaceHolder1_StartTabOn {
	font: 10pt MS Sans Serif;
	padding: 1px;
	border-left: 1px solid #81A9E2;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl00_ContentPlaceHolder1_StartTabOff {
	font: 10pt MS Sans Serif;
	padding:1px;
	border-left: 1px solid #81A9E2;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl00_ContentPlaceHolder1_TabOn {
	font: 8pt MS Sans Serif;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	border-top: 1px solid #9EBEF5;
	border-bottom: 1px solid #808080;
	background-color: #9EBEF5;
	cursor:pointer;/**/	
}
.ctl00_ContentPlaceHolder1_TabOffRight {
	font: 8pt MS Sans Serif;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
	cursor:pointer;/**/
}
.ctl00_ContentPlaceHolder1_TabOffLeft {
	font: 8pt MS Sans Serif;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid #808080;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #9EBEF5;
	background-color: #81A9E2;
}
.ctl00_ContentPlaceHolder1_EndTab {
	font: 10pt MS Sans Serif;
	width: 100%;
	padding:1px;
	border-left: 1px solid #81A9E2;
	border-right: 1px solid #81A9E2;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl00_ContentPlaceHolder1_AncestorArea {
	display:none;
	margin-left: 4px;
}
.ctl00_ContentPlaceHolder1_AncestorArea a {
	padding: 1px;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid #808080;	
	color: #000;
	font-family: arial;
	font-size: 11px;
}
.ctl00_ContentPlaceHolder1_AncestorArea a:link, .ctl00_ContentPlaceHolder1_AncestorArea a:visited, .ctl00_ContentPlaceHolder1_AncestorArea a:active {
	background-color: transparent;
	text-decoration: none;
}
.ctl00_ContentPlaceHolder1_AncestorArea a:hover {
	text-decoration: none;
	background-color: #316AC5;
	border: 1px solid #fff;
	color:#fff;
}

.alinhamentoAviso {margin: 0 0 0 198px;}


a.btn_delete  {
    background: url("imagens/Delete.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 19px;
    text-indent: -99999px;
    width: 19px;}
    
a.btn_edit  {
    background: url(../../Img/iconEdit.gif) no-repeat;
    display: block;
    float: left;
    height: 19px;
    text-indent: -99999px;
    width: 19px;}
    
table.detailstable tr td {padding:20px 0}   

.div_Filtros p {padding:5px 0} 

.btn_sn {
     float:right;  
    margin-top: -60px;
}


* + html/*/ * /**/ body .btn_sn {margin-top: -25px;}

.msgMensagem {
    padding: 0;
}

.usuariomanut p {margin-bottom:25px}